
/* #region initial styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'poppins', sans-serif;
}
/* #endregion initial styles*/

/* #region header */
h1 {
    text-align: center;
    color: #e53170;
    font-weight: 800;
}

p:only-child {
    text-align: center;
}
/* #endregion header */

main {
    max-width: 1200px;
    margin: 0 auto;
}

.card-container { /* DIV CONTENITORE TUTTE CARD */
    margin:0  -20px;
    margin-top: 30px;
   
}

.card > img:first-child {/* IMMAGINI PROFILO */
    width: 120px;
    vertical-align: middle;
    
}

.card-container > .card {/* DIV CARD */
    background-color: #0f0e17;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    color: white;
    box-shadow: #0f0e17 5px 5px 20px;
}

.card-text { /* TESTO CARDS*/
    padding: 15px;
    line-height: 1.8rem;
}


a { /* EMAIL */
    display: block;
    color: #00bcd4;
    text-decoration: none;
}


/* #region utilities */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* #endregion utilities */